<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>adminfacturastaberna</name>
	<displayName><![CDATA[Facturas Taberna]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Listado de Facturas para poder descargar ride]]></description>
	<author><![CDATA[Henry Campoverde]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
