<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mipilotoshipping</name>
	<displayName><![CDATA[Mi Piloto Shipping]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Mi Piloto Shipping para envío y cálculo de costo de envío]]></description>
	<author><![CDATA[Henry Campoverde]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
